<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebnbin.eb">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.EBApplication"
        android:label="@string/eb_label"
        android:theme="@style/EBTheme"
        android:icon="@mipmap/eb_icon"
        android:roundIcon="@mipmap/eb_icon"
        android:logo="@drawable/eb_logo_198">
        <activity
            android:name=".crash.CrashActivity"
            android:theme="@style/EBCrashTheme"/>

        <activity android:name=".app.EBActivity"/>

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/EBSplashTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".debug.DebugActivity"
            android:theme="@style/EBTheme.Debug"/>
    </application>
</manifest>
