<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebnbin.eb">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.EBApplication"
        android:label="@string/app_label"
        android:theme="@style/EBTheme"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon"
        android:logo="@drawable/app_logo_198">
        <activity
            android:name=".crash.CrashActivity"
            android:theme="@style/EBCrashTheme"/>

        <activity android:name=".app.EBActivity"/>

        <activity
            android:name=".debug.DebugActivity"
            android:theme="@style/EBTheme.Debug"/>
    </application>
</manifest>
